* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.App{
    background: url('/src/assets/images/background_purple.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}